In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

plt.style.use('seaborn-whitegrid')

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
!git clone https://github.com/BigcontestParrot2020/csv.git

Cloning into 'csv'...
remote: Enumerating objects: 19, done.
remote: Counting objects: 100% (19/19), done.
remote: Compressing objects: 100% (17/17), done.
remote: Total 19 (delta 8), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (19/19), done.

In [3]:
!pip install catboost
from catboost import CatBoostRegressor, Pool

Collecting catboost
  Downloading https://files.pythonhosted.org/packages/90/86/c3dcb600b4f9e7584ed90ea9d30a717fb5c0111574675f442c3e7bc19535/catboost-0.24.1-cp36-none-manylinux1_x86_64.whl (66.1MB)
     |████████████████████████████████| 66.1MB 65kB/s
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.0.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.18.5)
Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (1.2.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly->catboost) (1.3.3)
Installing collected packages: catboost
Successfully installed catboost-0.24.1

In [4]:
data = pd.read_csv('/content/csv/0921_ver.csv', encoding = 'utf-8', index_col = 0).iloc[:,1:]
data = data.dropna()

#data['구매횟수'] = data.취급액/data.판매단가

In [5]:
data['분'] = pd.to_datetime(data.index).strftime('%M')

# [CATBOOST] cateogorical features should be str
data['시'] = data['시'].astype(str)
data['프라임'] = data['프라임'].astype(str)
data['일'] = data['일'].astype(str)
data['휴일'] = data['휴일'].astype(str)

In [6]:
data['취급액_로그'] = np.log(data.취급액)
data = data.drop(columns = ['취급액'])

In [7]:
data.head()

                               상품명 상품군   판매단가  월  ... 프라임      파트   분     취급액_로그
방송일시                                              ...
2019-01-01 06:00:00  테이트 남성 셀린니트3종  의류  39900  1  ...   4   First  00  14.556972
2019-01-01 06:00:00  테이트 여성 셀린니트3종  의류  39900  1  ...   4   First  00  15.290502
2019-01-01 06:20:00  테이트 남성 셀린니트3종  의류  39900  1  ...   4  Middle  20  14.997851
2019-01-01 06:20:00  테이트 여성 셀린니트3종  의류  39900  1  ...   4  Middle  20  15.754971
2019-01-01 06:40:00  테이트 남성 셀린니트3종  의류  39900  1  ...   4   Later  40  15.713430

[5 rows x 13 columns]

## Define Functions

In [8]:
def mean_absolute_percentage_error(y_true, y_pred): 
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

In [9]:
model = CatBoostRegressor(iterations = 2000,
                          loss_function="RMSE",
                          eval_metric='RMSE',
                          learning_rate=0.1,
                          early_stopping_rounds=500,
                          random_seed = 123457,
                          )

In [22]:
clss = list(set(data.상품군))
month = list(set(data.월))

model_dict = {}
mape_dict = {}
for c in clss:
    print(f'===== start training {c} =====')
    train_df = data[data.상품군 == c]
    raw_x = train_df.drop(columns=['취급액_로그', '상품군'])
    raw_y = train_df[['취급액_로그','월']]

    cv_scores = {}
    cv_models = {}

    for m in month:

        try:
            test_x = raw_x[raw_x.월 == m].drop(columns = ['월'])
            test_y = raw_y[raw_y.월 == m].취급액_로그
            train_x = raw_x.drop(index = test_x.index, columns = ['월'])
            train_y = raw_y.drop(index = test_y.index).취급액_로그
        
            train_y = train_y.to_numpy().reshape(-1)
            test_y = test_y.to_numpy().reshape(-1)
            
            cat_features_train = np.where((train_x.dtypes != np.float)&(train_x.dtypes != np.int))[0]
            cat_features_test = np.where((test_x.dtypes != np.float)&(test_x.dtypes != np.int))[0]
    
            train_dataset = Pool(train_x, label = train_y, cat_features=cat_features_train)
            test_dataset = Pool(test_x, label = test_y, cat_features=cat_features_test)
            CBR = model.fit(train_dataset,  
                            eval_set = test_dataset,
                            use_best_model = True,      
                            verbose = False,
                            plot = False)
            predict_test = model.predict(test_x)

            test_y = np.exp(test_y)
            predict_test = np.exp(predict_test)

            mape = mean_absolute_percentage_error(test_y, predict_test)
            print(f'{m}월 MAPE:', mape)
            cv_scores.update({m:mape})
            cv_models.update({m:CBR})
      
        except :
            print(f'{m}월 MAPE: No Value')
            cv_scores.update({m:'no value'})
            cv_models.update({m:'no value'})

        mape_dict.update({c:cv_scores}) 
        model_dict.update({c:cv_models})

===== start training 건강기능 =====
1월 MAPE: 26.229875852721417
2월 MAPE: 38.6086695569613
3월 MAPE: 109.77440935842458
4월 MAPE: 41.46183534872427
5월 MAPE: 49.771708918077536
6월 MAPE: 28.55727087829742
7월 MAPE: 19.311686933885404
8월 MAPE: 63.92389762236921
9월 MAPE: 29.117430405672064
10월 MAPE: 34.36722477546941
11월 MAPE: 72.73699019694516
12월 MAPE: 24.04765440431769
===== start training 잡화 =====
1월 MAPE: 33.41168976170586
2월 MAPE: 33.28268807740537
3월 MAPE: 40.92530204474768
4월 MAPE: 34.758072832757186
5월 MAPE: 45.172552981164756
6월 MAPE: 39.19001898282245
7월 MAPE: 55.146240418132756
8월 MAPE: 80.2745819622941
9월 MAPE: 46.51585683460387
10월 MAPE: 63.080801717658666
11월 MAPE: 54.13392512153358
12월 MAPE: 73.86410396620273
===== start training 의류 =====
1월 MAPE: 55.45910451243897
2월 MAPE: 36.41806049836812
3월 MAPE: 44.18479102545897
4월 MAPE: 54.09854881323412
5월 MAPE: 48.43154402821225
6월 MAPE: 45.523565931919364
7월 MAPE: 38.03726521276672
8월 MAPE: 45.89266064533303
9월 MAPE: 85.5430237673413
10월 MAPE: 60.90207129218679
11월 MAPE: 43.35000157479785
12월 MAPE: 75.24179723883489
===== start training 이미용 =====
1월 MAPE: 28.00713543509715
2월 MAPE: 19.644399593743497
3월 MAPE: 25.51613998361638
4월 MAPE: 23.529034503937503
5월 MAPE: 31.706705520944805
6월 MAPE: 25.82446786960702
7월 MAPE: 22.233199948482966
8월 MAPE: 48.7522862050537
9월 MAPE: 63.74591006877495
10월 MAPE: 32.40437656961133
11월 MAPE: 23.724016151608847
12월 MAPE: 62.94173402860712
===== start training 속옷 =====
1월 MAPE: 96.47001050612883
2월 MAPE: 72.63086101734983
3월 MAPE: 68.52438968152804
4월 MAPE: 32.76163670191338
5월 MAPE: 49.23880557222805
6월 MAPE: 31.452837135804323
7월 MAPE: 64.87864837813765
8월 MAPE: 56.35479223976515
9월 MAPE: 63.33076219578575
10월 MAPE: 35.68931134031549
11월 MAPE: 37.46163777721949
12월 MAPE: 81.47764243841496
===== start training 생활용품 =====
1월 MAPE: 37.698306331875
2월 MAPE: 60.37723982049893
3월 MAPE: 50.29082102523351
4월 MAPE: 60.71229061086611
5월 MAPE: 61.16796802119314
6월 MAPE: 44.40264474522938
7월 MAPE: 94.82105734127799
8월 MAPE: 116.47542204085912
9월 MAPE: 61.53508168605715
10월 MAPE: 64.86687001083614
11월 MAPE: 81.5229896547036
12월 MAPE: 68.92183660078808
===== start training 가구 =====
1월 MAPE: No Value
2월 MAPE: 44.42730958986738
3월 MAPE: 45.299543841021006
4월 MAPE: 54.487458176870895
5월 MAPE: 53.200293491819664
6월 MAPE: 57.53922307228267
7월 MAPE: 43.334731212434576
8월 MAPE: 42.618333272453505
9월 MAPE: 45.33410718285397
10월 MAPE: 39.05100790900773
11월 MAPE: 69.77598374643085
12월 MAPE: 59.64871206236817
===== start training 침구 =====
1월 MAPE: No Value
2월 MAPE: No Value
3월 MAPE: No Value
4월 MAPE: 97.08113515381773
5월 MAPE: 27.086242773115636
6월 MAPE: 24.904846934091797
7월 MAPE: 47.6048857752288
8월 MAPE: 159.5308470525423
9월 MAPE: 105.1108937846871
10월 MAPE: 61.59114823488403
11월 MAPE: 32.85408887735143
12월 MAPE: No Value
===== start training 농수축 =====
1월 MAPE: 36.27348935134666
2월 MAPE: 24.03727011456561
3월 MAPE: 37.54767681858125
4월 MAPE: 19.84464239831236
5월 MAPE: 24.208179322533102
6월 MAPE: 17.430502362525427
7월 MAPE: 18.816211378198982
8월 MAPE: 23.057249479014313
9월 MAPE: 32.514350113090046
10월 MAPE: 21.453109330810484
11월 MAPE: 22.340147638166226
12월 MAPE: 45.607193166127715
===== start training 가전 =====
1월 MAPE: 62.65258431603608
2월 MAPE: 51.94910079075626
3월 MAPE: 49.13436474233977
4월 MAPE: 50.766474494721734
5월 MAPE: 59.270633712732376
6월 MAPE: 63.084003575931426
7월 MAPE: 47.72672545285168
8월 MAPE: 51.30619385211575
9월 MAPE: 48.050343887519126
10월 MAPE: 44.68039342210359
11월 MAPE: 55.546211763653865
12월 MAPE: 51.38700652232113
===== start training 주방 =====
1월 MAPE: 76.5009894086292
2월 MAPE: 47.944783160786955
3월 MAPE: 51.53132189386403
4월 MAPE: 50.92007217229484
5월 MAPE: 55.053926354041614
6월 MAPE: 31.36667649309138
7월 MAPE: 40.86293721168504
8월 MAPE: 37.041680683450586
9월 MAPE: 32.79971095047875
10월 MAPE: 48.017026768782145
11월 MAPE: 40.09244426681477
12월 MAPE: 44.04180901935563