In [1]:
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import pandas as pd
import seaborn as sns

from tensorflow.keras.layers import *
from tensorflow.keras.models import *
from tensorflow.keras.callbacks import *
from tensorflow.keras import backend as K

from sklearn.preprocessing import LabelEncoder
import lightgbm as lgbm

In [2]:
import platform                
from matplotlib import font_manager, rc
plt.rcParams['axes.unicode_minus']= False

if platform.system() == 'Darwin': #맥os 사용자의 경우에
    plt.style.use('seaborn-darkgrid') 
    rc('font', family = 'AppleGothic')
    
elif platform.system() == 'Windows':#윈도우 사용자의 경우에
    path = 'c:/Windows/Fonts/malgun.ttf'
    font_name = font_manager.FontProperties(fname=path).get_name()
    plt.style.use('seaborn-darkgrid') # https://python-graph-gallery.com/199-matplotlib-style-sheets/
    rc('font', family=font_name)

In [278]:
df = pd.read_csv('real_final.csv', index_col = 0)
df.head()

,방송일시,노출(분),상품군,판매단가,취급액,결제유형,월,일,시,분,...,1,2,3,4,5,6,7,8,상품명,취급액_log
0,2019-01-01 06:00:00,60.0,의류,39900,2099000.0,0,1,1,6,0,...,0.0,0.0,0.0,0.0,2.766667,0.0,0.0,0.0,테이트 남성 셀린니트3종,14.556972
1,2019-01-01 06:00:00,60.0,의류,39900,4371000.0,0,1,1,6,0,...,0.0,0.0,0.0,0.0,2.766667,0.0,0.0,0.0,테이트 여성 셀린니트3종,15.290503
2,2019-01-01 06:20:00,60.0,의류,39900,3262000.0,0,1,1,6,20,...,0.0,0.0,0.0,0.0,2.111111,0.0,0.0,0.0,테이트 남성 셀린니트3종,14.997851
3,2019-01-01 06:20:00,60.0,의류,39900,6955000.0,0,1,1,6,20,...,0.0,0.0,0.0,0.0,2.111111,0.0,0.0,0.0,테이트 여성 셀린니트3종,15.754972
4,2019-01-01 06:40:00,60.0,의류,39900,6672000.0,0,1,1,6,40,...,0.0,0.0,0.0,0.0,1.455556,0.0,0.0,0.0,테이트 남성 셀린니트3종,15.713430

In [226]:
sub = pd.read_excel('./2020 빅콘테스트 데이터분석분야-챔피언리그_2020년 6월 판매실적예측데이터(평가데이터).xlsx', header = 1)
sub.head()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액
0,2020-06-01 06:20:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN
1,2020-06-01 06:40:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN
2,2020-06-01 07:00:00,20.0,100650,201971,잭필드 남성 반팔셔츠 4종,의류,59800,NaN
3,2020-06-01 07:20:00,20.0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,69900,NaN
4,2020-06-01 07:40:00,20.0,100445,202278,쿠미투니카 쿨 레이시 란쥬쉐이퍼&팬티,속옷,69900,NaN

In [279]:
df.drop(['방송일시', '노출(분)', '취급액', '분', '상품명'], axis = 1, inplace = True)
df.head()

,상품군,판매단가,결제유형,월,일,시,소비층,요일,휴일,프라임,...,0,1,2,3,4,5,6,7,8,취급액_log
0,의류,39900,0,1,1,6,1,Tuesday,2,4,...,13.0,0.0,0.0,0.0,0.0,2.766667,0.0,0.0,0.0,14.556972
1,의류,39900,0,1,1,6,1,Tuesday,2,4,...,13.0,0.0,0.0,0.0,0.0,2.766667,0.0,0.0,0.0,15.290503
2,의류,39900,0,1,1,6,1,Tuesday,2,4,...,13.0,0.0,0.0,0.0,0.0,2.111111,0.0,0.0,0.0,14.997851
3,의류,39900,0,1,1,6,1,Tuesday,2,4,...,13.0,0.0,0.0,0.0,0.0,2.111111,0.0,0.0,0.0,15.754972
4,의류,39900,0,1,1,6,1,Tuesday,2,4,...,13.0,0.0,0.0,0.0,0.0,1.455556,0.0,0.0,0.0,15.713430

In [280]:
df.columns

Index(['상품군', '판매단가', '결제유형', '월', '일', '시', '소비층', '요일', '휴일', '프라임', '순서',
       '마더코드', '상품코드', '노출시간(각)', '0', '1', '2', '3', '4', '5', '6', '7', '8',
       '취급액_log'],
      dtype='object')

## Finding Embedding Vector

In [281]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(df, test_size = 0.2, random_state = 123457)

In [282]:
train_y = train.pop('취급액_log')
train_x = train
test_y = test.pop('취급액_log')
test_x = test

In [284]:
categorical_cols = ['상품군','결제유형', '월', '일', '시', '소비층', '요일', '휴일', '프라임', '순서', '마더코드', '상품코드']
other_cols = [i for i in train_x.columns if i not in categorical_cols]
other_cols = other_cols[:2]
print(len(categorical_cols), len(other_cols))

12 2

In [285]:
#Categorical Preprocessing
def preproc(df):
    input_list_train = []
    for c in categorical_cols:
        names = np.asarray(df[c].tolist())
        names = pd.factorize(names)[0]
        input_list_train.append(np.asarray(names))
    input_list_train.append(df[other_cols].values)
    return input_list_train

In [286]:
df_tr = preproc(train_x)
df_val = preproc(test_x)

In [288]:
#Translation
categorical_cols_eng = ['item_cat', 'pat_type', 'month', 'date', 'hour', 'consumer_type', 'day', 'holday',
                        'prime', 'order','mothercode', 'itemcode']

In [289]:
#Input Categorical columns
ins = []
models = []
for i, cat in enumerate(categorical_cols):
    var = df[cat].nunique()
    embedding_size = 1
    model = Input((1,), name = str(i) + '_model')
    ins.append(model)
    model = Embedding(var, embedding_size, input_length = 1, name = categorical_cols_eng[i])(model)
    model = Reshape(target_shape = (embedding_size,))(model)
    models.append(model)

In [290]:
#Continuous columns
cont = Input((len(other_cols),), name = 'cont_vars')
ins.append(cont)
models.append(cont)

In [292]:
K.clear_session()

embed_model = Concatenate()(models)
embed_model = Dense(50, activation = 'relu')(embed_model)
embed_model = Dropout(0.4)(embed_model)
embed_model = Dense(100, activation = 'relu')(embed_model)
embed_model = Dropout(0.4)(embed_model)
embed_model = Dense(50, activation = 'relu')(embed_model)
embed_model = Dropout(0.4)(embed_model)
embed_model = Dense(1)(embed_model)

final_model = Model(inputs = ins, outputs = embed_model)
final_model.compile(loss = 'mse', optimizer = 'Adam',
                        metrics = ['mse'])

In [293]:
final_model.summary()

Model: "model"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
0_model (InputLayer)            [(None, 1)]          0
__________________________________________________________________________________________________
1_model (InputLayer)            [(None, 1)]          0
__________________________________________________________________________________________________
2_model (InputLayer)            [(None, 1)]          0
__________________________________________________________________________________________________
3_model (InputLayer)            [(None, 1)]          0
__________________________________________________________________________________________________
4_model (InputLayer)            [(None, 1)]          0
__________________________________________________________________________________________________
5_model (InputLayer)            [(None, 1)]          0
__________________________________________________________________________________________________
6_model (InputLayer)            [(None, 1)]          0
__________________________________________________________________________________________________
7_model (InputLayer)            [(None, 1)]          0
__________________________________________________________________________________________________
8_model (InputLayer)            [(None, 1)]          0
__________________________________________________________________________________________________
9_model (InputLayer)            [(None, 1)]          0
__________________________________________________________________________________________________
10_model (InputLayer)           [(None, 1)]          0
__________________________________________________________________________________________________
11_model (InputLayer)           [(None, 1)]          0
__________________________________________________________________________________________________
item_cat (Embedding)            (None, 1, 1)         11          0_model[0][0]
__________________________________________________________________________________________________
pat_type (Embedding)            (None, 1, 1)         3           1_model[0][0]
__________________________________________________________________________________________________
month (Embedding)               (None, 1, 1)         12          2_model[0][0]
__________________________________________________________________________________________________
date (Embedding)                (None, 1, 1)         31          3_model[0][0]
__________________________________________________________________________________________________
hour (Embedding)                (None, 1, 1)         21          4_model[0][0]
__________________________________________________________________________________________________
consumer_type (Embedding)       (None, 1, 1)         4           5_model[0][0]
__________________________________________________________________________________________________
day (Embedding)                 (None, 1, 1)         7           6_model[0][0]
__________________________________________________________________________________________________
holday (Embedding)              (None, 1, 1)         3           7_model[0][0]
__________________________________________________________________________________________________
prime (Embedding)               (None, 1, 1)         4           8_model[0][0]
__________________________________________________________________________________________________
order (Embedding)               (None, 1, 1)         8           9_model[0][0]
__________________________________________________________________________________________________
mothercode (Embedding)          (None, 1, 1)         687         10_model[0][0]
__________________________________________________________________________________________________
itemcode (Embedding)            (None, 1, 1)         2031        11_model[0][0]
__________________________________________________________________________________________________
reshape (Reshape)               (None, 1)            0           item_cat[0][0]
__________________________________________________________________________________________________
reshape_1 (Reshape)             (None, 1)            0           pat_type[0][0]
__________________________________________________________________________________________________
reshape_2 (Reshape)             (None, 1)            0           month[0][0]
__________________________________________________________________________________________________
reshape_3 (Reshape)             (None, 1)            0           date[0][0]
__________________________________________________________________________________________________
reshape_4 (Reshape)             (None, 1)            0           hour[0][0]
__________________________________________________________________________________________________
reshape_5 (Reshape)             (None, 1)            0           consumer_type[0][0]
__________________________________________________________________________________________________
reshape_6 (Reshape)             (None, 1)            0           day[0][0]
__________________________________________________________________________________________________
reshape_7 (Reshape)             (None, 1)            0           holday[0][0]
__________________________________________________________________________________________________
reshape_8 (Reshape)             (None, 1)            0           prime[0][0]
__________________________________________________________________________________________________
reshape_9 (Reshape)             (None, 1)            0           order[0][0]
__________________________________________________________________________________________________
reshape_10 (Reshape)            (None, 1)            0           mothercode[0][0]
__________________________________________________________________________________________________
reshape_11 (Reshape)            (None, 1)            0           itemcode[0][0]
__________________________________________________________________________________________________
cont_vars (InputLayer)          [(None, 2)]          0
__________________________________________________________________________________________________
concatenate (Concatenate)       (None, 14)           0           reshape[0][0]
                                                                 reshape_1[0][0]
                                                                 reshape_2[0][0]
                                                                 reshape_3[0][0]
                                                                 reshape_4[0][0]
                                                                 reshape_5[0][0]
                                                                 reshape_6[0][0]
                                                                 reshape_7[0][0]
                                                                 reshape_8[0][0]
                                                                 reshape_9[0][0]
                                                                 reshape_10[0][0]
                                                                 reshape_11[0][0]
                                                                 cont_vars[0][0]
__________________________________________________________________________________________________
dense (Dense)                   (None, 50)           750         concatenate[0][0]
__________________________________________________________________________________________________
dropout (Dropout)               (None, 50)           0           dense[0][0]
__________________________________________________________________________________________________
dense_1 (Dense)                 (None, 100)          5100        dropout[0][0]
__________________________________________________________________________________________________
dropout_1 (Dropout)             (None, 100)          0           dense_1[0][0]
__________________________________________________________________________________________________
dense_2 (Dense)                 (None, 50)           5050        dropout_1[0][0]
__________________________________________________________________________________________________
dropout_2 (Dropout)             (None, 50)           0           dense_2[0][0]
__________________________________________________________________________________________________
dense_3 (Dense)                 (None, 1)            51          dropout_2[0][0]
==================================================================================================
Total params: 13,773
Trainable params: 13,773
Non-trainable params: 0
__________________________________________________________________________________________________

In [294]:
callback = EarlyStopping(monitor='loss', patience=10)

In [295]:
history = final_model.fit(df_tr, train_y, epochs = 100, batch_size = 64,
                          validation_data = [df_val, test_y],verbose = 1, callbacks = [callback])

Train on 28300 samples, validate on 7075 samples
Epoch 1/100
28300/28300 [==============================] - 3s 96us/sample - loss: 685289024.2411 - mse: 685288832.0000 - val_loss: 312710.7934 - val_mse: 312710.7812
Epoch 2/100
28300/28300 [==============================] - 1s 41us/sample - loss: 32342448.3233 - mse: 32342444.0000 - val_loss: 38349.3006 - val_mse: 38349.3008
Epoch 3/100
28300/28300 [==============================] - 1s 40us/sample - loss: 9786861.7296 - mse: 9786861.0000 - val_loss: 399.4043 - val_mse: 399.4042
Epoch 4/100
28300/28300 [==============================] - 1s 43us/sample - loss: 4303694.8382 - mse: 4303693.5000 - val_loss: 726.2803 - val_mse: 726.2804
Epoch 5/100
28300/28300 [==============================] - 1s 42us/sample - loss: 2426302.1312 - mse: 2426303.0000 - val_loss: 492.5355 - val_mse: 492.5356
Epoch 6/100
28300/28300 [==============================] - 1s 44us/sample - loss: 1292564.9554 - mse: 1292564.8750 - val_loss: 379.9523 - val_mse: 379.9524
Epoch 7/100
28300/28300 [==============================] - 1s 41us/sample - loss: 604225.7349 - mse: 604225.9375 - val_loss: 269.2939 - val_mse: 269.2939
Epoch 8/100
28300/28300 [==============================] - 1s 45us/sample - loss: 601646.8598 - mse: 601646.8125 - val_loss: 243.6265 - val_mse: 243.6265
Epoch 9/100
28300/28300 [==============================] - 1s 41us/sample - loss: 546233.4696 - mse: 546233.5000 - val_loss: 213.7252 - val_mse: 213.7252
Epoch 10/100
28300/28300 [==============================] - 1s 50us/sample - loss: 375285.3527 - mse: 375285.3125 - val_loss: 580.0504 - val_mse: 580.0505
Epoch 11/100
28300/28300 [==============================] - 1s 41us/sample - loss: 177931.0929 - mse: 177931.1094 - val_loss: 820.8015 - val_mse: 820.8016
Epoch 12/100
28300/28300 [==============================] - 1s 39us/sample - loss: 156823.1119 - mse: 156823.0312 - val_loss: 272.7805 - val_mse: 272.7804
Epoch 13/100
28300/28300 [==============================] - 1s 42us/sample - loss: 64333.0710 - mse: 64333.0859 - val_loss: 214.6060 - val_mse: 214.6060
Epoch 14/100
28300/28300 [==============================] - 1s 42us/sample - loss: 136971.3064 - mse: 136971.2344 - val_loss: 235.9750 - val_mse: 235.9750
Epoch 15/100
28300/28300 [==============================] - 1s 42us/sample - loss: 53071.7908 - mse: 53071.7773 - val_loss: 208.1195 - val_mse: 208.1195
Epoch 16/100
28300/28300 [==============================] - 1s 49us/sample - loss: 37215.0933 - mse: 37215.1055 - val_loss: 236.1069 - val_mse: 236.1069
Epoch 17/100
28300/28300 [==============================] - 1s 39us/sample - loss: 27836.8828 - mse: 27836.8965 - val_loss: 234.6929 - val_mse: 234.6928
Epoch 18/100
28300/28300 [==============================] - 1s 42us/sample - loss: 19992.0282 - mse: 19992.0332 - val_loss: 227.6726 - val_mse: 227.6725
Epoch 19/100
28300/28300 [==============================] - 1s 43us/sample - loss: 19780.2717 - mse: 19780.2578 - val_loss: 264.5712 - val_mse: 264.5712
Epoch 20/100
28300/28300 [==============================] - 1s 42us/sample - loss: 8516.2107 - mse: 8516.2100 - val_loss: 229.8752 - val_mse: 229.8752
Epoch 21/100
28300/28300 [==============================] - 1s 42us/sample - loss: 22939.7400 - mse: 22939.7500 - val_loss: 210.8758 - val_mse: 210.8759
Epoch 22/100
28300/28300 [==============================] - 1s 42us/sample - loss: 6114.0963 - mse: 6114.0923 - val_loss: 203.7572 - val_mse: 203.7572
Epoch 23/100
28300/28300 [==============================] - 1s 43us/sample - loss: 1445.0989 - mse: 1445.0997 - val_loss: 199.2252 - val_mse: 199.2253
Epoch 24/100
28300/28300 [==============================] - 1s 43us/sample - loss: 6849.3422 - mse: 6849.3433 - val_loss: 177.1466 - val_mse: 177.1466
Epoch 25/100
28300/28300 [==============================] - 1s 43us/sample - loss: 13099.3598 - mse: 13099.3594 - val_loss: 241.4382 - val_mse: 241.4382
Epoch 26/100
28300/28300 [==============================] - 1s 42us/sample - loss: 2448.0063 - mse: 2448.0059 - val_loss: 206.2502 - val_mse: 206.2503
Epoch 27/100
28300/28300 [==============================] - 1s 42us/sample - loss: 1224.2767 - mse: 1224.2766 - val_loss: 197.9489 - val_mse: 197.9489
Epoch 28/100
28300/28300 [==============================] - 1s 42us/sample - loss: 1496.6182 - mse: 1496.6176 - val_loss: 189.9837 - val_mse: 189.9837
Epoch 29/100
28300/28300 [==============================] - 1s 43us/sample - loss: 12723.1260 - mse: 12723.1221 - val_loss: 184.2376 - val_mse: 184.2375
Epoch 30/100
28300/28300 [==============================] - 1s 43us/sample - loss: 5336.5418 - mse: 5336.5396 - val_loss: 175.3052 - val_mse: 175.3051
Epoch 31/100
28300/28300 [==============================] - 1s 40us/sample - loss: 566.6156 - mse: 566.6153 - val_loss: 166.6873 - val_mse: 166.6873
Epoch 32/100
28300/28300 [==============================] - 1s 41us/sample - loss: 3162.9201 - mse: 3162.9199 - val_loss: 157.5713 - val_mse: 157.5714
Epoch 33/100
28300/28300 [==============================] - 1s 43us/sample - loss: 1131.9921 - mse: 1131.9921 - val_loss: 148.5619 - val_mse: 148.5619
Epoch 34/100
28300/28300 [==============================] - 1s 42us/sample - loss: 1042.5683 - mse: 1042.5686 - val_loss: 139.2623 - val_mse: 139.2623
Epoch 35/100
28300/28300 [==============================] - 1s 42us/sample - loss: 359.4753 - mse: 359.4752 - val_loss: 130.4232 - val_mse: 130.4232
Epoch 36/100
28300/28300 [==============================] - 1s 42us/sample - loss: 361.5617 - mse: 361.5617 - val_loss: 121.7020 - val_mse: 121.7019
Epoch 37/100
28300/28300 [==============================] - 1s 43us/sample - loss: 362.8246 - mse: 362.8249 - val_loss: 113.2404 - val_mse: 113.2404
Epoch 38/100
28300/28300 [==============================] - 1s 41us/sample - loss: 219.9091 - mse: 219.9089 - val_loss: 105.0549 - val_mse: 105.0548
Epoch 39/100
28300/28300 [==============================] - 1s 42us/sample - loss: 145.3277 - mse: 145.3277 - val_loss: 97.1551 - val_mse: 97.1551
Epoch 40/100
28300/28300 [==============================] - 1s 44us/sample - loss: 524.5052 - mse: 524.5052 - val_loss: 89.4909 - val_mse: 89.4910
Epoch 41/100
28300/28300 [==============================] - 1s 48us/sample - loss: 142.2753 - mse: 142.2753 - val_loss: 82.2499 - val_mse: 82.2499
Epoch 42/100
28300/28300 [==============================] - 1s 50us/sample - loss: 2523.5969 - mse: 2523.5957 - val_loss: 75.5849 - val_mse: 75.5849
Epoch 43/100
28300/28300 [==============================] - 1s 45us/sample - loss: 978.9001 - mse: 978.9001 - val_loss: 69.4209 - val_mse: 69.4209
Epoch 44/100
28300/28300 [==============================] - 1s 44us/sample - loss: 69.2615 - mse: 69.2615 - val_loss: 63.3469 - val_mse: 63.3470
Epoch 45/100
28300/28300 [==============================] - 1s 43us/sample - loss: 256.2178 - mse: 256.2177 - val_loss: 57.4385 - val_mse: 57.4385
Epoch 46/100
28300/28300 [==============================] - 1s 42us/sample - loss: 131.5665 - mse: 131.5664 - val_loss: 51.9347 - val_mse: 51.9347
Epoch 47/100
28300/28300 [==============================] - 1s 45us/sample - loss: 82.1281 - mse: 82.1281 - val_loss: 46.6671 - val_mse: 46.6671
Epoch 48/100
28300/28300 [==============================] - 1s 44us/sample - loss: 70.4577 - mse: 70.4577 - val_loss: 41.6775 - val_mse: 41.6775
Epoch 49/100
28300/28300 [==============================] - 1s 43us/sample - loss: 447.3990 - mse: 447.3990 - val_loss: 36.9964 - val_mse: 36.9964
Epoch 50/100
28300/28300 [==============================] - 1s 43us/sample - loss: 72.3770 - mse: 72.3770 - val_loss: 32.6838 - val_mse: 32.6838
Epoch 51/100
28300/28300 [==============================] - 1s 44us/sample - loss: 42.6624 - mse: 42.6624 - val_loss: 28.6421 - val_mse: 28.6421
Epoch 52/100
28300/28300 [==============================] - 1s 43us/sample - loss: 40.0436 - mse: 40.0436 - val_loss: 24.9032 - val_mse: 24.9032
Epoch 53/100
28300/28300 [==============================] - 1s 43us/sample - loss: 26.3069 - mse: 26.3069 - val_loss: 21.4416 - val_mse: 21.4416
Epoch 54/100
28300/28300 [==============================] - 1s 45us/sample - loss: 21.6819 - mse: 21.6819 - val_loss: 18.2758 - val_mse: 18.2758

Epoch 55/100
28300/28300 [==============================] - 1s 44us/sample - loss: 18.3239 - mse: 18.3239 - val_loss: 15.4189 - val_mse: 15.4189
Epoch 56/100
28300/28300 [==============================] - 1s 43us/sample - loss: 104.7370 - mse: 104.7369 - val_loss: 12.9181 - val_mse: 12.9181
Epoch 57/100
28300/28300 [==============================] - 1s 43us/sample - loss: 11.8311 - mse: 11.8311 - val_loss: 10.6463 - val_mse: 10.6463
Epoch 58/100
28300/28300 [==============================] - 1s 43us/sample - loss: 20.1988 - mse: 20.1988 - val_loss: 8.6459 - val_mse: 8.6459
Epoch 59/100
28300/28300 [==============================] - 1s 43us/sample - loss: 53.5739 - mse: 53.5739 - val_loss: 6.9611 - val_mse: 6.9611
Epoch 60/100
28300/28300 [==============================] - 1s 43us/sample - loss: 11.6210 - mse: 11.6210 - val_loss: 5.5146 - val_mse: 5.5146
Epoch 61/100
28300/28300 [==============================] - 1s 43us/sample - loss: 4.9742 - mse: 4.9742 - val_loss: 4.3019 - val_mse: 4.3019
Epoch 62/100
28300/28300 [==============================] - 1s 43us/sample - loss: 3.9404 - mse: 3.9404 - val_loss: 3.3197 - val_mse: 3.3197
Epoch 63/100
28300/28300 [==============================] - 1s 43us/sample - loss: 756.0557 - mse: 756.0557 - val_loss: 2.5165 - val_mse: 2.5165
Epoch 64/100
28300/28300 [==============================] - 1s 44us/sample - loss: 45.8339 - mse: 45.8339 - val_loss: 2.0967 - val_mse: 2.0967
Epoch 65/100
28300/28300 [==============================] - 1s 44us/sample - loss: 3.9272 - mse: 3.9272 - val_loss: 1.7516 - val_mse: 1.7516
Epoch 66/100
28300/28300 [==============================] - 1s 44us/sample - loss: 33.4532 - mse: 33.4532 - val_loss: 1.4847 - val_mse: 1.4847
Epoch 67/100
28300/28300 [==============================] - 1s 43us/sample - loss: 5.6096 - mse: 5.6096 - val_loss: 1.2821 - val_mse: 1.2821
Epoch 68/100
28300/28300 [==============================] - 1s 44us/sample - loss: 5.6153 - mse: 5.6153 - val_loss: 1.1387 - val_mse: 1.1387
Epoch 69/100
28300/28300 [==============================] - 1s 43us/sample - loss: 1.0862 - mse: 1.0862 - val_loss: 1.0577 - val_mse: 1.0577
Epoch 70/100
28300/28300 [==============================] - 1s 44us/sample - loss: 1.4608 - mse: 1.4608 - val_loss: 1.0158 - val_mse: 1.0158
Epoch 71/100
28300/28300 [==============================] - 1s 43us/sample - loss: 0.9853 - mse: 0.9853 - val_loss: 0.9990 - val_mse: 0.9990
Epoch 72/100
28300/28300 [==============================] - 1s 43us/sample - loss: 10.1811 - mse: 10.1811 - val_loss: 0.9941 - val_mse: 0.9941
Epoch 73/100
28300/28300 [==============================] - 1s 43us/sample - loss: 37.4979 - mse: 37.4979 - val_loss: 0.9933 - val_mse: 0.9933
Epoch 74/100
28300/28300 [==============================] - 1s 44us/sample - loss: 1237.5595 - mse: 1237.5596 - val_loss: 0.9930 - val_mse: 0.9930
Epoch 75/100
28300/28300 [==============================] - 1s 43us/sample - loss: 81.3563 - mse: 81.3562 - val_loss: 0.9927 - val_mse: 0.9927
Epoch 76/100
28300/28300 [==============================] - 1s 44us/sample - loss: 285.2765 - mse: 285.2764 - val_loss: 0.9926 - val_mse: 0.9926
Epoch 77/100
28300/28300 [==============================] - 1s 43us/sample - loss: 0.9692 - mse: 0.9692 - val_loss: 0.9926 - val_mse: 0.9926
Epoch 78/100
28300/28300 [==============================] - 1s 44us/sample - loss: 90.6275 - mse: 90.6274 - val_loss: 0.9927 - val_mse: 0.9927
Epoch 79/100
28300/28300 [==============================] - 1s 44us/sample - loss: 4.8158 - mse: 4.8158 - val_loss: 0.9926 - val_mse: 0.9926
Epoch 80/100
28300/28300 [==============================] - 1s 43us/sample - loss: 0.9685 - mse: 0.9685 - val_loss: 0.9926 - val_mse: 0.9926
Epoch 81/100
28300/28300 [==============================] - 1s 44us/sample - loss: 0.9685 - mse: 0.9685 - val_loss: 0.9927 - val_mse: 0.9927
Epoch 82/100
28300/28300 [==============================] - 1s 42us/sample - loss: 3.1547 - mse: 3.1547 - val_loss: 0.9926 - val_mse: 0.9926
Epoch 83/100
28300/28300 [==============================] - 1s 44us/sample - loss: 0.9685 - mse: 0.9685 - val_loss: 0.9927 - val_mse: 0.9927
Epoch 84/100
28300/28300 [==============================] - 1s 44us/sample - loss: 0.9685 - mse: 0.9685 - val_loss: 0.9927 - val_mse: 0.9927
Epoch 85/100
28300/28300 [==============================] - 1s 43us/sample - loss: 0.9685 - mse: 0.9685 - val_loss: 0.9927 - val_mse: 0.9927
Epoch 86/100
28300/28300 [==============================] - 1s 44us/sample - loss: 0.9709 - mse: 0.9709 - val_loss: 0.9926 - val_mse: 0.9926
Epoch 87/100
28300/28300 [==============================] - 1s 44us/sample - loss: 0.9685 - mse: 0.9685 - val_loss: 0.9927 - val_mse: 0.9927
Epoch 88/100
28300/28300 [==============================] - 1s 43us/sample - loss: 0.9685 - mse: 0.9685 - val_loss: 0.9927 - val_mse: 0.9927
Epoch 89/100
28300/28300 [==============================] - 1s 42us/sample - loss: 2.9847 - mse: 2.9847 - val_loss: 0.9925 - val_mse: 0.9925
Epoch 90/100
28300/28300 [==============================] - 1s 43us/sample - loss: 0.9686 - mse: 0.9686 - val_loss: 0.9926 - val_mse: 0.9926
Epoch 91/100
28300/28300 [==============================] - 1s 42us/sample - loss: 40.9955 - mse: 40.9955 - val_loss: 0.9931 - val_mse: 0.9931

In [296]:
def mean_absolute_percentage_error(y_true, y_pred): 
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

In [297]:
mean_absolute_percentage_error(np.expm1(test_y.values), np.exp(final_model.predict(df_val).reshape(-1, 1)))

135.38553016749918

In [298]:
itemcode_list = []
for i in final_model.get_layer('itemcode').get_weights()[0]:
    itemcode_list.append(i[0])
itemcode_list = np.array(itemcode_list)

In [299]:
mothercode_list = []
for i in final_model.get_layer('mothercode').get_weights()[0]:
    mothercode_list.append(i[0])
mothercode_list = np.array(mothercode_list)

In [300]:
dict = {'itmecode': df['상품코드'].unique(), 'embed': itemcode_list}
itemcode_df = pd.DataFrame(dict)

In [301]:
dict = {'mothercode': df['마더코드'].unique(), 'embed': mothercode_list}
mothercode_df = pd.DataFrame(dict)

In [302]:
df = pd.merge(df, embed_df, left_on = '상품코드', right_on = 'itemcode').drop('itemcode', axis = 1)

,상품군,판매단가,결제유형,월,일,시,소비층,요일,휴일,프라임,...,1,2,3,4,5,6,7,8,취급액_log,embed
0,의류,39900,0,1,1,6,1,Tuesday,2,4,...,0.0,0.000000,0.000000,0.0,2.766667,0.0,0.000000,0.0,14.556972,-0.014405
1,의류,39900,0,1,1,6,1,Tuesday,2,4,...,0.0,0.000000,0.000000,0.0,2.111111,0.0,0.000000,0.0,14.997851,-0.014405
2,의류,39900,0,1,1,6,1,Tuesday,2,4,...,0.0,0.000000,0.000000,0.0,1.455556,0.0,0.000000,0.0,15.713430,-0.014405
3,의류,39900,0,1,3,0,1,Thursday,0,4,...,0.0,0.477143,0.040000,0.0,2.000000,0.0,0.026575,0.0,15.807350,-0.014405
4,의류,39900,0,1,3,0,1,Thursday,0,4,...,0.0,0.476190,0.040667,0.0,2.000000,0.0,0.027067,0.0,16.165075,-0.014405

In [303]:
df = pd.merge(df, mothercode_df, left_on = '마더코드', right_on = 'mothercode').drop('mothercode', axis = 1)

In [304]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35375 entries, 0 to 35374
Data columns (total 26 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   상품군      35375 non-null  object
 1   판매단가     35375 non-null  int64
 2   결제유형     35375 non-null  int64
 3   월        35375 non-null  int64
 4   일        35375 non-null  int64
 5   시        35375 non-null  int64
 6   소비층      35375 non-null  int64
 7   요일       35375 non-null  object
 8   휴일       35375 non-null  int64
 9   프라임      35375 non-null  int64
 10  순서       35375 non-null  int64
 11  마더코드     35375 non-null  int64
 12  상품코드     35375 non-null  int64
 13  노출시간(각)  35375 non-null  float64
 14  0        35375 non-null  float64
 15  1        35375 non-null  float64
 16  2        35375 non-null  float64
 17  3        35375 non-null  float64
 18  4        35375 non-null  float64
 19  5        35375 non-null  float64
 20  6        35375 non-null  float64
 21  7        35375 non-null  float64
 22  8        35375 non-null  float64
 23  취급액_log  35375 non-null  float64
 24  embed_x  35375 non-null  float32
 25  embed_y  35375 non-null  float32
dtypes: float32(2), float64(11), int64(11), object(2)
memory usage: 7.0+ MB

In [305]:
df['결제유형'] = df['결제유형'].astype('str')
df['소비층'] = df['소비층'].astype('str')
df['휴일']= df['휴일'].astype('str')
df['프라임'] = df['프라임'].astype('str')
df.drop(['마더코드', '상품코드', '0', '1', '2', '3', '4', '5', '6', '7', '8'], axis = 1, inplace = True)

In [306]:
dtypes = df.dtypes
encoders = {}
for column in df.columns:
    if str(dtypes[column]) == 'object':
        encoder = LabelEncoder()
        encoder.fit(df[column])
        encoders[column] = encoder
        
df_num = df.copy()        
for column in encoders.keys():
    encoder = encoders[column]
    df_num[column] = encoder.transform(df[column])

In [307]:
#Transalting Columns
df_num.columns = ['item_category', 'unit_price', 'pay_type', 'month', 'date', 'time', 'consumer_type',
                 'day', 'holiday', 'prime', 'order', 'exposure_time', 'pay_amount(log)', 'embed_x', 'embed_y']

In [233]:
train, val = train_test_split(df_num, test_size = 0.2, random_state = 123457)

In [271]:
x_train = train.drop(['pay_amount(log)', 'embed_x', 'embed_y'], axis = 1)
y_train = train['pay_amount(log)']
x_val = val.drop(['pay_amount(log)', 'embed_x', 'embed_y'], axis = 1)
y_val = val['pay_amount(log)']

In [275]:
del model

In [276]:
train_ds = lgbm.Dataset(x_train, label=y_train)
val_ds = lgbm.Dataset(x_val, label=y_val)

params = {
            'learning_rate' : 0.05,
            'boosting_type': 'gbdt',
            'objective': 'tweedie',
            'tweedie_variance_power': 1.1,
            'metric': 'mape',
            'sub_row' : 0.75,
            'lambda_l2' : 0.1
        }

model = lgbm.train(params,
                  train_ds,
                  1000,
                  val_ds,
                  verbose_eval = 100,
                  early_stopping_rounds = 10
                 )

Training until validation scores don't improve for 10 rounds
[100]	valid_0's mape: 0.028897
[200]	valid_0's mape: 0.0265063
[300]	valid_0's mape: 0.0254625
[400]	valid_0's mape: 0.0247521
[500]	valid_0's mape: 0.0241371
[600]	valid_0's mape: 0.0236747
[700]	valid_0's mape: 0.023349
[800]	valid_0's mape: 0.0231178
[900]	valid_0's mape: 0.0229283
[1000]	valid_0's mape: 0.0227585
Did not meet early stopping. Best iteration is:
[1000]	valid_0's mape: 0.0227585

In [238]:
model.predict(x_val)

array([15.07108267, 15.93361187, 14.80952754, ..., 16.89826051,
       15.33917302, 16.32364158])

In [277]:
mean_absolute_percentage_error(np.expm1(y_val), np.exp(model.predict(x_val)))

45.042398507809

In [ ]:
len()

In [248]:
len(train['embed_y'].unique())

686

In [270]:
count = 0
for i in sub['상품코드'].unique():
    if i not in df['상품코드'].unique():
        print(i)
        count += 1
print('끝!', count)

201971
202278
201247
201091
200016
200217
201673
201671
201641
201150
201616
201251
201250
200424
201319
201520
200416
200419
200422
200724
200727
200730
201016
201017
201643
201596
200668
200867
201130
202125
202296
201454
202460
202459
200651
202508
200588
201024
200184
200186
200179
200181
201277
201279
201276
201258
201259
201699
201752
201698
201751
201697
201750
201041
200273
200272
200274
202052
201418
201037
200917
200266
200270
200900
202368
200368
200369
201464
202259
201938
201578
201656
202430
201033
200020
201011
200143
201969
201968
201039
200621
202252
201632
201337
201336
201334
201335
200291
200289
200292
200290
201813
201817
201811
201815
201923
200317
200316
201253
201252
202364
201882
201042
200194
200873
200212
201341
202247
202246
200300
200966
201595
202226
202224
201808
201957
201316
201294
202128
202129
200092
200079
200083
200099
200067
200064
200060
200059
200723
200726
200729
201814
201818
201812
201816
200421
200418
200415
200486
200553
200188
200187
200063
200058
200096
200066
202053
200426
202241
202244
200705
200689
200709
200693
200713
200697
202123
202120
202121
200072
200074
200195
200863
201331
201333
201332
201943
200994
200995
201447
201676
201728
201810
200005
201410
202042
202040
200565
200380
200378
200379
200381
201954
200147
200564
202258
202275
202371
201588
201148
200425
201966
201965
202391
202396
201657
202428
202427
200304
200006
200007
202506
202507
201338
201269
201271
200124
201953
201732
201680
201731
201679
201730
201678
201729
201677
200484
200551
200012
200193
200221
200222
201283
201273
201274
201275
200331
200295
200293
200296
200294
200370
201574
202240
202243
200198
200940
200941
201593
201592
201594
202387
200358
200357
202257
200420
200417
200414
202363
201145
200722
200725
200728
200183
200185
200178
200180
201809
201591
200704
200688
200708
200692
200712
200696
202149
200057
201990
201629
200280
201636
201970
201139
201311
201286
202212
200323
200321
200322
200324
200251
201242
201952
201988
200968
201344
202359
200326
200328
200325
200327
201121
202071
201385
201386
200021
201120
201119
200044
200045
202186
201950
201989
201577
201342
201153
201154
200999
201637
201465
200997
200182
200177
202225
202223
201726
201727
201725
201724
200010
200011
200654
201996
201995
201994
201993
201992
201991
202148
202213
202041
202039
201782
201783
201784
200216
201463
201626
200146
200214
202511
202018
202017
202486
202485
201639
202166
202084
201617
201151
200582
201456
200004
200003
201623
201014
202242
202245
201613
201614
201951
201949
201948
202425
202424
202423
201147
200192
202124
202122
201324
201672
201354
200297
200299
200743
201618
200617
200616
201658
200015
201627
201458
202323
202321
202322
202318
202319
202320
200862
200019
200022
200875
끝! 393

In [268]:
100269 in df['마더코드'].unique()

True

In [254]:
df

,상품군,판매단가,결제유형,월,일,시,소비층,요일,휴일,프라임,순서,노출시간(각),취급액_log,embed_x,embed_y
0,의류,39900,0,1,1,6,1,Tuesday,2,4,0,20.0,14.556972,-0.014405,-0.060160
1,의류,39900,0,1,1,6,1,Tuesday,2,4,1,20.0,14.997851,-0.014405,-0.060160
2,의류,39900,0,1,1,6,1,Tuesday,2,4,2,20.0,15.713430,-0.014405,-0.060160
3,의류,39900,0,1,3,0,1,Thursday,0,4,0,20.0,15.807350,-0.014405,-0.060160
4,의류,39900,0,1,3,0,1,Thursday,0,4,1,20.0,16.165075,-0.014405,-0.060160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35370,주방,39800,0,12,31,17,2,Tuesday,0,1,1,20.0,17.914113,-0.002668,-0.007376
35371,주방,39800,0,12,31,18,2,Tuesday,0,1,2,20.0,17.866617,-0.002668,-0.007376
35372,의류,39900,0,12,30,16,1,Monday,0,1,0,20.0,16.620446,0.037504,0.025699
35373,의류,39900,0,12,30,16,1,Monday,0,1,1,20.0,17.158796,0.037504,0.025699
35374,의류,39900,0,12,30,17,1,Monday,0,1,2,20.0,17.384705,0.037504,0.025699